<h1 class="text-center animated bounceInDown"><strong>Weather Forcast</strong></h1>
<h2> Today's weather is:</h2>
<script>
	$(document).ready(function(){
	$('#main-tutorial').modal('show');
	});
</script>