<h1 class="text-center" id="header"><strong>Weather Forcast</strong></h1>
<h2 id="today-weather-is"> Today's weather is:</h2>
<script>
	$('#header').animateCss('bounceInDown');
	$('#today-weather-is').animateCss('bounceInDown');
</script>